<IfModule mod_rewrite.c>
    RewriteEngine On
    
    # Rewrite the root request to the public folder
    RewriteRule ^$ public/ [L]
    
    # If request is not a real file or directory, rewrite to public
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
